*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
svg {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}
input::-moz-placeholder {
  color: inherit;
}
input::placeholder {
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Black.ttf");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-family: "Titillium Web";
  color: #4C545A;
  line-height: 1.2;
}

.container {
  max-width: 108rem;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 37rem;
  }
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 32rem;
  }
}

h1,
h2,
h3 {
  color: #22282F;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #22282F;
  z-index: 16;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.hero__stories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .hero__stories {
    justify-content: flex-start;
    overflow: auto;
  }
}

.hero__story {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 5.5rem;
}

.hero__story_wrapper {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.4rem;
  margin-bottom: 0.3rem;
}
.hero__story_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.hero__story_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2rem solid #fd1d1d;
  border-radius: 50%;
}
.hero__story_wrapper.active::before {
  display: none;
}

.hero__story_name {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.hero__content {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .hero__content {
    flex-direction: column;
  }
}

.hero__offer {
  position: relative;
  width: calc((100% - 3rem) / 2);
}
@media screen and (max-width: 1200px) {
  .hero__offer {
    width: 100%;
  }
}

.hero__info {
  width: calc((100% - 3rem) / 2);
}
@media screen and (max-width: 1200px) {
  .hero__info {
    width: 100%;
  }
}

.hero__offer_sale {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  width: 100%;
  background-color: rgba(202, 99, 2, 0.9490196078);
  display: flex;
  align-items: center;
  padding: 0 1.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFFFFF;
}
.hero__offer_sale span {
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
  background-color: #FFFFFF;
  color: #22282F;
  border-radius: 0.5rem;
  margin-left: 1rem;
  font-weight: 700;
}

.hero__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero__rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.hero__uptitle {
  color: #D97D26;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media screen and (max-width: 390px) {
  .hero__uptitle {
    font-size: 1.8rem;
  }
}

.hero__title {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 390px) {
  .hero__title {
    font-size: 2.8rem;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 3.5rem;
}

.hero__item {
  background-color: #F4EDE7;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #5c320a;
}

.hero__price {
  position: relative;
  margin: 0 auto 2rem auto;
  max-width: 27rem;
  background-image: linear-gradient(30deg, #e7680e, #e7320e);
  padding: 1rem 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.price__old {
  font-size: 2.2rem;
  color: #e6e6e6;
  text-decoration: line-through;
  font-weight: 700;
}

.price__new {
  font-size: 2.8rem;
  font-weight: 700;
  color: #FFFFFF;
}

.price__sale {
  position: absolute;
  top: -1.5rem;
  right: -2.5rem;
  transform: rotate(20deg);
  background-color: #21a413;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #FFFFFF;
  color: #FFFFFF;
}

.hero__price_way {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.hero__warning {
  background-color: #ffeded;
  border-radius: 0.5rem;
  color: #e52e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

.return {
  background-color: #F4EDE7;
  padding: 4rem 0;
}

.return .container {
  background-color: #FFFFFF;
  border-radius: 1rem;
  overflow: hidden;
}

.return__title {
  background-color: #D97D26;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1.2rem 0;
}
@media screen and (max-width: 390px) {
  .return__title {
    font-size: 1.6rem;
  }
}

.return__content {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .return__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .return__image {
    width: 100%;
  }
}

.return__desc {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  max-width: 40rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 390px) {
  .return__desc {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

.return__user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.return__user_avatar {
  border-radius: 50%;
}

.return__user_name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 1200px) {
  .return__user_name {
    font-weight: 600;
  }
}

.about {
  padding: 4rem 0;
}

.about__title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.about__content {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .about__content {
    flex-direction: column;
  }
}

.about__image_wrapper {
  min-width: calc((100% - 3rem) / 2);
}
@media screen and (max-width: 1200px) {
  .about__image_wrapper {
    min-width: none;
    width: 100%;
  }
}

.about__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about__info {
  width: calc((100% - 3rem) / 2);
}
@media screen and (max-width: 1200px) {
  .about__info {
    width: 100%;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 390px) {
  .about__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about__subtitle {
  font-size: 2.2rem;
  font-weight: 600;
  color: #D97D26;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .about__subtitle {
    font-size: 1.8rem;
  }
}

.about__desc {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
}
@media screen and (max-width: 1200px) {
  .about__desc {
    font-size: 1.4rem;
  }
}

.feature {
  padding: 4rem;
  background-color: #F4EDE7;
}

.feature .container {
  position: relative;
  padding-bottom: 2rem;
}

.feature__title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 390px) {
  .feature__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.feature__slide {
  text-align: center;
}

.feature__image {
  margin: 0 auto 1.3rem auto;
  border-radius: 2rem;
  width: 32rem;
}
@media screen and (max-width: 1200px) {
  .feature__image {
    width: 25rem;
    border-radius: 1.2rem;
  }
}
@media screen and (max-width: 390px) {
  .feature__image {
    width: 20rem;
  }
}

.feature__name {
  font-size: 2rem;
  color: #D97D26;
  margin-bottom: 1rem;
}
@media screen and (max-width: 390px) {
  .feature__name {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
}

.feature__desc {
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 390px) {
  .feature__desc {
    font-size: 1.4rem;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    width: 4rem;
    height: 4rem;
    right: 0;
    top: 15rem;
  }
}
@media screen and (max-width: 390px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    top: 11rem;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    width: 4rem;
    height: 4rem;
    left: 0;
    top: 15rem;
  }
}
@media screen and (max-width: 390px) {
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    top: 11rem;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2.4rem;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -1rem;
}

.swiper-pagination-bullet-active {
  background-color: #D97D26;
}

.box {
  background-color: #F4EDE7;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.box .container {
  background-color: #FFFFFF;
  border-radius: 1rem;
  overflow: hidden;
}

.box__title {
  background-color: #22282F;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  padding: 1.2rem 0;
}
@media screen and (max-width: 390px) {
  .box__title {
    font-size: 1.6rem;
  }
}

.box__content {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .box__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .box__image {
    width: 100%;
  }
}

.box__desc {
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 40rem;
}
@media screen and (max-width: 390px) {
  .box__desc {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

.reviews {
  background-color: #F4EDE7;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.reviews__title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 390px) {
  .reviews__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.reviews__list {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 2rem;
}

.reviews__item {
  min-width: 32rem;
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 390px) {
  .reviews__item {
    min-width: 28rem;
    padding: 1.5rem;
  }
}

.reviews__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.reviews__user_name {
  font-size: 1.6rem;
}

.reviews__user_verify {
  font-size: 1.4rem;
}

.reviews__desc {
  font-size: 1.6rem;
  line-height: 1.5;
}

.rev {
  padding: 4rem 0;
}

.rev__list {
  display: flex;
  align-items: stretch;
  gap: 3rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .rev__list {
    gap: 2rem;
  }
}

.rev__item {
  width: calc((100% - 6rem) / 3);
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 1200px) {
  .rev__item {
    width: 100%;
  }
}

.rev__image {
  border-radius: 1rem;
}

.rev__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.rev__avatar {
  min-width: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
}

.rev__name {
  font-size: 1.6rem;
}
.rev__name span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.3rem;
}

.rev__desc {
  font-size: 1.4rem;
  line-height: 1.5;
}

.gallery {
  padding: 4rem 0;
  text-align: center;
}

.gallery__title {
  display: inline-block;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 0.4rem solid #D97D26;
}
@media screen and (max-width: 390px) {
  .gallery__title {
    font-size: 2rem;
  }
}

.gallery__list {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .gallery__list {
    gap: 1rem;
  }
}

.gallery__item {
  width: calc((100% - 4rem) / 3);
}
@media screen and (max-width: 1200px) {
  .gallery__item {
    width: calc((100% - 1rem) / 2);
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.faq {
  padding: 4rem 0;
}

.faq__logo {
  margin: 0 auto 1rem auto;
}
@media screen and (max-width: 1200px) {
  .faq__logo {
    width: 13rem;
  }
}
@media screen and (max-width: 390px) {
  .faq__logo {
    width: 11rem;
  }
}

.faq__title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 390px) {
  .faq__title {
    font-size: 2rem;
  }
}

.faq__clients {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .faq__clients {
    margin-bottom: 3rem;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq__question {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 390px) {
  .faq__question {
    font-size: 1.6rem;
  }
}

.faq__answer {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 390px) {
  .faq__answer {
    font-size: 1.5rem;
  }
}

.footer {
  background-color: #22282F;
  padding: 6rem 0;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 4rem 0;
  }
}

.footer__logo {
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    width: 12rem;
    margin-bottom: 2rem;
  }
}

.footer__content {
  display: flex;
  align-items: flex-start;
  gap: 10rem;
}
@media screen and (max-width: 1200px) {
  .footer__content {
    gap: 2rem;
    flex-direction: column;
  }
}

.footer__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: calc((100% - 20rem) / 3);
}
@media screen and (max-width: 1200px) {
  .footer__block {
    width: 100%;
  }
}

.footer__link {
  font-size: 1.4rem;
  color: #A2B0C0;
  text-decoration: none;
  border-bottom: 0.1rem solid transparent;
  transition-duration: 300ms;
}
.footer__link:hover {
  color: #D97D26;
  border-bottom-color: #D97D26;
}

.footer__subtitle {
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0;
}

.footer__text {
  font-size: 1.4rem;
  line-height: 1.4;
  max-width: 25rem;
}

.footer__image {
  border-radius: 0.5rem;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7254901961);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;
}
.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__image_wrapper {
  width: 40rem;
  height: 55rem;
}
@media screen and (max-width: 1200px) {
  .modal__image_wrapper {
    width: 37rem;
    height: 46rem;
  }
}
@media screen and (max-width: 390px) {
  .modal__image_wrapper {
    width: 32rem;
    height: 40rem;
  }
}

.modal__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu {
  position: fixed;
  width: 100%;
  top: 5.5rem;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(90, 97, 107, 0.445);
  padding: 3rem 0;
  z-index: 10;
  transition-duration: 300ms;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.menu__link {
  font-size: 1.8rem;
  text-decoration: none;
  transition-duration: 300ms;
}
.menu__link:hover {
  color: #D97D26;
}

.order {
  padding: 3rem 0;
  background-color: #22282F;
}

.order .container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  border-top: 0.6rem solid #D97D26;
}

.order__title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.order__header {
  background-color: #ffe6cd;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.order__header img {
  margin: 0 auto 1rem auto;
}

.order__header_title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 390px) {
  .order__header_title {
    font-size: 1.6rem;
  }
}

.order__header_desc {
  font-size: 1.4rem;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.order__count {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2.5rem;
}
@media screen and (max-width: 1200px) {
  .order__count {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

.order__count_item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.order__count_item.active .order__count_block {
  background-color: #22282F;
  border-color: #22282F;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .order__count_item {
    width: 100%;
  }
}

.order__count_title {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  z-index: 1;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #FFFFFF;
}
.order__count_title.orange {
  background-color: #D97D26;
}
.order__count_title.green {
  background-color: #31ae18;
}

.order__count_block {
  border-radius: 0.5rem;
  border: 0.2rem solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
  margin-top: -0.3rem;
}
@media screen and (max-width: 1200px) {
  .order__count_block {
    justify-content: center;
  }
}

.order__count_quantity {
  font-size: 1.6rem;
  font-weight: 700;
}

.order__count_price {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.order__count_price span {
  font-size: 1.2rem;
}

.order__image_wrapper {
  width: 40rem;
  height: 40rem;
  margin: 3rem auto;
  box-shadow: 0 0.8rem 1rem -0.2rem rgba(0, 0, 0, 0.238), 0 0 0 0.1rem rgba(83, 97, 112, 0.05);
  border-radius: 2rem;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  .order__image_wrapper {
    width: 100%;
    height: 33rem;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 390px) {
  .order__image_wrapper {
    height: 28rem;
  }
}

.order__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 2rem;
}

.order__get {
  background-color: rgba(49, 174, 24, 0.2274509804);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #31ae18;
}
@media screen and (max-width: 1200px) {
  .order__get {
    padding: 1rem;
    font-size: 1.4rem;
    gap: 0.5rem;
  }
  .order__get img {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (max-width: 390px) {
  .order__get {
    padding: 0.6rem;
  }
}

.form {
  max-width: 65rem;
  margin: 2rem auto;
  background-color: #ffffff;
  box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.0666666667);
  padding: 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 390px) {
  .form {
    padding: 1rem;
  }
}
.form .mb-10 {
  margin-bottom: 1rem;
}
.form .mb-15 {
  margin-bottom: 1.5rem;
}
.form .mb-20 {
  margin-bottom: 2rem;
}
.form .mb-25 {
  margin-bottom: 2.5rem;
}
.form .mt-10 {
  margin-top: 1rem;
}
.form .mt-15 {
  margin-top: 1.5rem;
}
.form .mt-20 {
  margin-top: 2rem;
}
.form .mt-25 {
  margin-top: 2.5rem;
}

.form__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form__top {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 390px) {
  .form__top {
    flex-direction: column;
  }
}

.form__input {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid #cecece;
  padding: 0 1.5rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  transition-duration: 300ms;
  transition-property: border-color;
}
.form__input::-moz-placeholder {
  color: #aaaaaa;
}
.form__input::placeholder {
  color: #aaaaaa;
}
.form__input:focus {
  border-color: #656565;
}

.form__text {
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 45rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.form__delivery {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 78, 246, 0.1647058824);
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1d3fd6;
}

.delivery {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #d5d5d5;
  border-radius: 0.6rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.delivery__label {
  position: relative;
  padding: 1rem 2rem;
  transition-duration: 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 390px) {
  .delivery__label {
    gap: 0.5rem;
  }
}
.delivery__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
  width: 1.8rem;
  height: 1.8rem;
  background-color: #FFFFFF;
  border: 0.2rem solid #000000;
  border-radius: 50%;
}
@media screen and (max-width: 390px) {
  .delivery__label::before {
    left: 1rem;
  }
}
.delivery__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translate(0, -50%);
  width: 1rem;
  height: 1rem;
  background-color: #000000;
  border-radius: 50%;
  transition-duration: 300ms;
  opacity: 0;
}
@media screen and (max-width: 390px) {
  .delivery__label::after {
    left: 1.4rem;
  }
}

.delivery__label_selected {
  background-color: #f5ba8d;
}
.delivery__label_selected::after {
  opacity: 1;
}

.delivery__radio {
  opacity: 0;
}

.delivery__info {
  margin-left: auto;
  text-align: right;
}

.delivery__date {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .delivery__date {
    font-size: 1.4rem;
  }
}

.delivery__price {
  font-size: 1.8rem;
}
@media screen and (max-width: 1200px) {
  .delivery__price {
    font-size: 1.6rem;
  }
}

.plus {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.plus__label {
  background-color: #FFFFFF;
  border-radius: 0.6rem;
  border: 0.2rem solid #FFFFFF;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition-duration: 300ms;
  transition-property: border-color;
}
@media screen and (max-width: 1200px) {
  .plus__label {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

.plus__label_selected {
  border-color: #31ae18;
}

.plus__checkbox {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.plus__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.plus__text {
  font-size: 1.4rem;
  line-height: 1.3;
  max-width: 30rem;
  margin-bottom: 1.5rem;
}

.plus__price {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.plus__price_old {
  font-size: 2rem;
  color: #6b6b6b;
  text-decoration: line-through;
}

.plus__price_new {
  font-size: 2.4rem;
  font-weight: 600;
  color: #ff2a2a;
}

.metod {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #d5d5d5;
  border-radius: 0.6rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.metod__label {
  position: relative;
  padding: 1rem 2rem;
  transition-duration: 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 390px) {
  .metod__label {
    gap: 0.5rem;
  }
}
.metod__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
  width: 1.8rem;
  height: 1.8rem;
  background-color: #FFFFFF;
  border: 0.2rem solid #000000;
  border-radius: 50%;
}
@media screen and (max-width: 390px) {
  .metod__label::before {
    left: 1rem;
  }
}
.metod__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translate(0, -50%);
  width: 1rem;
  height: 1rem;
  background-color: #000000;
  border-radius: 50%;
  transition-duration: 300ms;
  opacity: 0;
}
@media screen and (max-width: 390px) {
  .metod__label::after {
    left: 1.4rem;
  }
}

.metod__label_selected {
  background-color: #f5ba8d;
}
.metod__label_selected::after {
  opacity: 1;
}

.metod__radio {
  opacity: 0;
}

.metod__info {
  margin-left: auto;
  text-align: right;
}

.metod__date {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .metod__date {
    font-size: 1.4rem;
  }
}

.metod__price {
  font-size: 1.8rem;
  font-weight: 600;
  color: #484848;
}

.metod__price_free {
  background-color: #31ae18;
  color: #FFFFFF;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.card {
  background-color: #e9e9e9;
  padding: 1rem;
  border-radius: 0.6rem;
}
.card .form__input {
  background-color: #FFFFFF;
}

.form__total {
  font-size: 2.2rem;
  margin: 2rem 0;
  text-align: right;
}

.form__submit {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #42ce27;
  border-radius: 0.6rem;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  transition-duration: 300ms;
  transition-property: background-color;
}
.form__submit:hover {
  background-color: #2ca015;
}/*# sourceMappingURL=index.css.map */