@font-face {
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url("../fonts/TitilliumWeb-Black.ttf");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}