// fonts
$primary-font: "Titillium Web";

// colors
$text-color: #4C545A;
$title-color: #22282F;
$accent-color: #D97D26;
$dark-bg: #22282F;
$light-bg: #F4EDE7;

// other
$breakpoint-sm: 1200px;
$breakpoint-xs: 390px;
$anim-time: 300ms;