.box {
    background-color: $light-bg;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.box .container {
    background-color: #FFFFFF;
    border-radius: 1rem;
    overflow: hidden;
}

.box__title {
    background-color: $dark-bg;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 1.2rem 0;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.box__content {
    padding: 2rem;

    display: flex;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
}

.box__image {
    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.box__desc {
    font-size: 1.8rem;
    line-height: 1.5;
    max-width: 40rem;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 1.5rem;
        line-height: 1.4;
    }
}