.hero {
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.hero__stories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 3rem;

    @media screen and (max-width: $breakpoint-sm) {
        justify-content: flex-start;
        overflow: auto;
    }
}

.hero__story {
    user-select: none;
    cursor: pointer;
    width: 5.5rem;
}

.hero__story_wrapper {
    position: relative;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    padding: .4rem;
    margin-bottom: .3rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: .2rem solid #fd1d1d;
        border-radius: 50%;
    }
}

.hero__story_name {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.hero__content {
    display: flex;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}

.hero__offer {
    position: relative;
    width: calc((100% - 3rem) / 2);

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.hero__info {
    width: calc((100% - 3rem) / 2);

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.hero__offer_sale {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4.5rem;
    width: 100%;
    background-color: #ca6302f2;

    display: flex;
    align-items: center;
    padding: 0 1.3rem;

    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;

    span {
        font-size: 1.4rem;
        padding: .3rem .5rem;
        background-color: #FFFFFF;
        color: $title-color;
        border-radius: .5rem;
        margin-left: 1rem;
        font-weight: 700;
    }
}

.hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__rating {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;

    font-size: 1.5rem;
}

.hero__uptitle {
    color: $accent-color;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 1.8rem;
    }
}

.hero__title {
    font-size: 3.2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 2.8rem;
    }
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 3.5rem;
}

.hero__item {
    background-color: $light-bg;
    border-radius: .6rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.3rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: #5c320a;
}

.hero__price {
    position: relative;
    margin: 0 auto 2rem auto;
    max-width: 27rem;
    background-image: linear-gradient(30deg, #e7680e, #e7320e);
    padding: 1rem 0;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.price__old {
    font-size: 2.2rem;
    color: #e6e6e6;
    text-decoration: line-through;
    font-weight: 700;
}

.price__new {
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFFFFF;
}

.price__sale {
    position: absolute;
    top: -1.5rem;
    right: -2.5rem;
    transform: rotate(20deg);

    background-color: #21a413;
    font-size: 1.8rem;
    font-weight: 700;
    padding: .3rem .7rem;
    border-radius: .5rem;
    border: .2rem solid #FFFFFF;
    color: #FFFFFF;
}

.hero__price_way {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.hero__warning {
    background-color: #ffeded;
    border-radius: .5rem;
    color: #e52e2e;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: 1.5rem 0;
    font-size: 1.5rem;
}