.menu {
    position: fixed;
    width: 100%;
    top: 5.5rem;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0 .5rem 1rem rgba(90, 97, 107, .445);
    padding: 3rem 0;
    z-index: 10;

    transition-duration: $anim-time;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.menu__link {
    font-size: 1.8rem;
    text-decoration: none;
    transition-duration: $anim-time;

    &:hover {
        color: $accent-color;
    }
}