.return {
    background-color: $light-bg;
    padding: 4rem 0;
}

.return .container {
    background-color: #FFFFFF;
    border-radius: 1rem;
    overflow: hidden;
}

.return__title {
    background-color: $accent-color;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1.2rem 0;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.return__content {
    padding: 2rem;

    display: flex;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
}

.return__image {
    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.return__desc {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    max-width: 40rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 1.5rem;
        line-height: 1.4;
    }
}

.return__user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.return__user_avatar {
    border-radius: 50%;
}

.return__user_name {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    font-size: 1.6rem;

    @media screen and (max-width: $breakpoint-sm) {
        font-weight: 600;
    }
}